client.crt
client.key
*.sqlite
*.sqlite-shm
*.sqlite-wal
*.sqlite-journal
*.7z
/client/StringDefs.cpp
/compiled/*.exp
/vc17/*
/GdiOle/GdiOle_i.c
/GdiOle/GdiOle_i.h
/GdiOle/GdiOle_p.c
/GdiOle/dlldata.c
.vs
merge-vendors.bat
*.lastbuildstate
*.vcxproj.FileListAbsolute.txt
unsuccessfulbuild
/compiled/GDIImage.htm
P2PGuard.ini
*.pdb
compiled/flylinkdc_x64.lib
compiled/FlylinkDC_x64.exe
flylinkdc_2017.vcxproj.user
MakeDefs/MakeDefs.exe
