*.vcxproj.user

/GdiOle/GdiOle_i.c
/GdiOle/GdiOle_i.h
/GdiOle/GdiOle_p.c
/GdiOle/dlldata.c

vc17

/ipch
/compiled/FlylinkDC*.exe
/compiled/Settings/FlylinkDCShutdownMarker.txt
/compiled/Settings/ADLSearch.xml
/compiled/Settings/DCPlusPlus.xml
/compiled/Settings/Favorites.xml
/compiled/Settings/Logs
/compiled/Settings/tth-history.leveldb
/compiled/Settings/IPTrust.ini
/compiled/Settings/common/P2PGuard.ini
/compiled/Settings/P2PGuard.ini
/compiled/Settings/common/CustomLocations.bmp
/compiled/Settings/common/CustomLocations.ini
/compiled/update
/client/StringDefs.cpp
/compiled/UpdateTools/FlyUpdate/FlyUpdate.exe
/compiled/UpdateTools/FlyUpdate/commit_update.bat

client.crt
client.key
*.sqlite
*.sqlite-shm
*.sqlite-wal
*.sqlite-journal
*.exp
*.tlog
*.idb
*.iobj
*.ipdb
*.res
*.dmp
*.ipch
*.VC.db
*.ilk
*.opendb
*.db
*.7z
*.bz2
*.log
*.lib
*.pdb
*.db-shm
*.db-wal
*.suo
merge-vendors.bat

