*.vcxproj.user

/GdiOle/GdiOle_i.c
/GdiOle/GdiOle_i.h
/GdiOle/GdiOle_p.c
/GdiOle/dlldata.c

client.crt
client.key
*.sqlite
*.sqlite-shm
*.sqlite-wal
*.sqlite-journal
*.exp
*.tlog
*.idb
*.iobj
*.ipdb
*.res
*.dmp
*.ipch
*.VC.db
*.ilk
*.opendb
*.db
*.7z
*.bz2
*.log
*.lib
*.pdb
*.db-shm
*.db-wal
*.suo
merge-vendors.bat

/client/StringDefs.cpp

vc17/*

